body {
    background-color: black;
    font-size: 15px;
    font-family: cursive;
}
.postcard{
    background-color: white;
    width: 500px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 35%;
    padding:15px;
}
.postcard h1{
    margin:0;
    margin-top:10px;
}
.postcard-header{
    overflow:hidden;
}
.postcard-header img{
    max-width: 60px;
    float:right;
}
.postcard-body{
    overflow:hidden;
  
}
.text{
    float:left;
    width: 50%;

}
.inputs{
    float:right;
    width: 50%;
    margin: auto;
    font-size: large;

 }
.inputs input{
    display:block;
    border:none;
    margin-top:15px;
    border-bottom:1px;
}
.postcard-footer{
    text-align:center;
}
.postcard-footer input{
    border-bottom-color:black;
    border:none;
    background-color:rgb(177, 175, 175);
}
